{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1 class="mb-5 text-center">{{ question.question_text }}</h1>

<ul class="list-group mb-5">
	{% for choice in question.choice_set.all %}
	<li class="list-group-item">
		{{ choice.choice_text }}  <span class="badge badge-success float-right">{{ choice.votes }} vote{{ choice.votes | pluralize }}</span>
	</li>
	{% endfor %}
</ul>
<div id="myChart"></div>
<a class="btn btn-secondary" href="{% url 'polls:index' %}">Back To Polls</a>
<a class="btn btn-dark" href="{% url 'polls:detail' question.id %}">Vote again?</a>


<script>

	var state = {
		'items': [],
		'values': [],
	}
	var objId = "{{ question.id }}"
	var dataURL= "/polls/resultsdata/"+objId
	alert(dataURL)
	$.ajax({
		method: "GET",
		url: dataURL,
		success: function(response){
		console.log('RESPONSE'+  response)

		for(var i in response){
			var key = Object.keys(response[i])[0]
			var value = Object.values(response[i])[0]
			state.items.push(key)
			state.values.push(value)
		}
		console.log('State'+  state)
		buildChart()
		}
	})

function buildChart(){
	var chartData={
			"type": "bar",
			"scale-x": {
				"values":state.items
			},
			"series":[
				{
					"values": state.values
				}
			]

	}

	zingchart.render({
		id: "myChart",
		data: chartData,
	})
}



</script>
{% endblock %}
